:root {
    --bg-1: rgba(41, 47, 54, 1);
    --bg-2: rgba(26, 30, 35, 1);
    --brand-1: rgba(18, 247, 214, 1);
    --brand-2: rgba(152, 250, 236, 1);
    --grey: rgba(67, 69, 77, 1);
    --white: rgba(255, 255, 255, 1);
    --html: rgba(229, 79, 38, 1);
    --css: rgba(12, 115, 184, 1);
    --js: rgba(231, 160, 32, 1);
    --react: rgba(40, 169, 224, 1);
    --BG-text-u-font-family: "Ubuntu", Helvetica;
    --BG-text-u-font-weight: 400;
    --BG-text-u-font-size: 80px;
    --BG-text-u-letter-spacing: 0px;
    --BG-text-u-line-height: 134px;
    --BG-text-u-font-style: normal;
    --number-m-font-family: "IBM Plex Mono", Helvetica;
    --number-m-font-weight: 500;
    --number-m-font-size: 48px;
    --number-m-letter-spacing: 0px;
    --number-m-line-height: 72px;
    --number-m-font-style: normal;
    --h1-u-font-family: "Ubuntu", Helvetica;
    --h1-u-font-weight: 400;
    --h1-u-font-size: 44px;
    --h1-u-letter-spacing: 0px;
    --h1-u-line-height: 64px;
    --h1-u-font-style: normal;
    --h2-m-font-family: "IBM Plex Mono", Helvetica;
    --h2-m-font-weight: 500;
    --h2-m-font-size: 32px;
    --h2-m-letter-spacing: 0px;
    --h2-m-line-height: 42px;
    --h2-m-font-style: normal;
    --h2-u-font-family: "Ubuntu", Helvetica;
    --h2-u-font-weight: 400;
    --h2-u-font-size: 32px;
    --h2-u-letter-spacing: 0px;
    --h2-u-line-height: 36px;
    --h2-u-font-style: normal;
    --logo-m-font-family: "IBM Plex Mono", Helvetica;
    --logo-m-font-weight: 500;
    --logo-m-font-size: 24px;
    --logo-m-letter-spacing: 0px;
    --logo-m-line-height: 42px;
    --logo-m-font-style: normal;
    --menu-m-font-family: "IBM Plex Mono", Helvetica;
    --menu-m-font-weight: 400;
    --menu-m-font-size: 16px;
    --menu-m-letter-spacing: 0px;
    --menu-m-line-height: 32px;
    --menu-m-font-style: normal;
    --button-u-font-family: "Ubuntu", Helvetica;
    --button-u-font-weight: 400;
    --button-u-font-size: 20px;
    --button-u-letter-spacing: 0px;
    --button-u-line-height: 24px;
    --button-u-font-style: normal;
    --article-u-font-family: "Ubuntu", Helvetica;
    --article-u-font-weight: 300;
    --article-u-font-size: 16px;
    --article-u-letter-spacing: 0px;
    --article-u-line-height: 32px;
    --article-u-font-style: normal;
    --media-m-font-family: "IBM Plex Mono", Helvetica;
    --media-m-font-weight: 400;
    --media-m-font-size: 16px;
    --media-m-letter-spacing: 0px;
    --media-m-line-height: 20px;
    --media-m-font-style: normal;
    --para-m-font-family: "IBM Plex Mono", Helvetica;
    --para-m-font-weight: 400;
    --para-m-font-size: 16px;
    --para-m-letter-spacing: 0px;
    --para-m-line-height: 20px;
    --para-m-font-style: normal;
    --para-u-font-family: "Ubuntu", Helvetica;
    --para-u-font-weight: 300;
    --para-u-font-size: 16px;
    --para-u-letter-spacing: 0px;
    --para-u-line-height: 18px;
    --para-u-font-style: normal;
    --code-m-font-family: "IBM Plex Mono", Helvetica;
    --code-m-font-weight: 400;
    --code-m-font-size: 14px;
    --code-m-letter-spacing: 0px;
    --code-m-line-height: 18px;
    --code-m-font-style: normal;
    --label-u-m-font-family: "Ubuntu", Helvetica;
    --label-u-m-font-weight: 500;
    --label-u-m-font-size: 14px;
    --label-u-m-letter-spacing: 0px;
    --label-u-m-line-height: 16px;
    --label-u-m-font-style: normal;
    --label-u-l-font-family: "Ubuntu", Helvetica;
    --label-u-l-font-weight: 300;
    --label-u-l-font-size: 14px;
    --label-u-l-letter-spacing: 0px;
    --label-u-l-line-height: 16px;
    --label-u-l-font-style: normal;
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-black: rgba(0, 0, 0, 1);
  }

  body {
    margin: 0px;
  }
  